<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">TutorNow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <!-- <li class="nav-item">
          <a class="nav-link" routerLink = '/tutor/{{suID}}'>Home</a>
      </li> -->
      <li class="nav-item">
          <a class="nav-link" routerLink = '/tutor/editProfile/{{suId}}'>Edit Profile</a>
        </li>    
    </ul>
  </div>  
</nav>

<div class="container emp-profile">
<form method="post">
<div class="row">
  <div class="col-md-4">
    <div class="profile-img">
      <img src="../../assets/images/Kenny.jpg" alt="" />
      <div class="file btn btn-lg btn-primary">
        <input type="file" name="file" />
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="profile-head">
      <h5>
        {{tutor?.firstName}} {{tutor?.lastName}}
      </h5>
      <h6>
        Computer Science Student
      </h6>
      <p class="proile-rating">BIO: <span>{{tutor?.bio}}</span></p>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
            aria-controls="profile" aria-selected="false">Timeline</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="profile-work">
      <p>WORK LINK</p>
      <p class="proile-rating">RANKINGS : <span>8/10</span></p>
      <button (click)="setAvailable()" type="button" class="btn btn-primary" >Available</button>
    </div>
  </div>
  
  <div class="col-md-8">
    <div class="tab-content profile-tab" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col-md-6">
            <label>Name</label>
          </div>
          <div class="col-md-6">

            <p>{{tutor?.firstName}} {{tutor?.lastName}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Email</label>
          </div>
          <div class="col-md-6">
            <p>{{tutor?.email}}</p>
          </div>
        </div>
         
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col-md-6">
            <label>Hourly Rate</label>
          </div>
          <div class="col-md-6">
            <p>10$/hr</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <label>English Level</label>
          </div>
          <div class="col-md-6">
            <p>Expert</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Working Hours</label>
          </div>
          <div class="col-md-6">
            <p>{{tutor?.workingHours}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</div>
<script type="text/javascript">

</script>


<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "pacman"
[fullScreen] = "true"
>

<br>
<br>
  <p style="font-size: 20px; color: white"> You will be notified when a student selected you!</p>
  <button (click)="setUnavailable()" type="button" class="btn btn-primary"> Cancel</button>
</ngx-spinner>
 </body>

<!-- </html> --> 
